.container {
  padding: 3px 10px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

table tr {
  border-bottom: 1px solid black;
  background-color: rgb(20, 147, 147);
  color: white;
}

table tr th,
table tr td {
  padding: 3px;
}

li {
  list-style-type: none;
}

.pagination {
  display: flex;
  justify-content: flex-start;
}

.page-item {
  padding: 10px;

  border: 1px solid black;
}

.active {
  color: rgb(218, 56, 16);
  font-size: 24px;
}
